/* Body */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

/* Header*/
header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #0e6275;
}
header p {
    margin: 0;
    color: #0e6275;
    letter-spacing: .5px;
}

/* Nav Bar*/
nav {
    background-color: #88e8f2;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #0e6275;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.current a {
    background-color: #0e6275;
    color: #88e8f2;
}

nav a:hover {
    color: white;
}

/* Main */

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #b40412;
}

main h2 {
    color: #0e6275;
    margin-bottom: .3rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #bf9075;
    font-weight: 700;
}

main dl dd {
    color: #0e6275;
    font-size: .9rem;
    margin-bottom: .5rem;
}

main ul {
    list-style-type: square;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    color: white;
    background-color: #bf9075;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #0e6275;
    border-radius: .5rem;
}

main address a {
    color: #88e8f2;
}

/* Link in Main */
.my-link {
    color: #0e6275;
}

main address a {
    color: #88e8f2;
}

main a:hover {
    color: rgb(239,0,24);
}


/* Footer */

footer {
    background-color: #eaeaea;
    text-align: center;
    color: #0e6275;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #0e6275;
}


